
html *
{
   font-size: 1em !important;
   color: rgb(0, 0, 0) !important;
   font-family: "Lucida Console", "Courier New", monospace;
}

/* navbar style, adapted from w3 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 37px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgba(98, 167, 68, 0.7);
  }
  
  
 /* this is for main table style, adapted from w3  */ 
  table {
  border-collapse: collapse;
  width: 100%;
    }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:first-child{
  background-color: #dddddd;
}