
html *
{
   font-size: 1em !important;
   color: rgb(0, 0, 0) !important;
   font-family: "Lucida Console", "Courier New", monospace;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 37px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(185, 255, 209);
  }
